.expore-container{
    display: flex;
    gap: 20px;
    padding: 20px;
    height: calc(100vh - 5rem);
    box-sizing: border-box;
    background-color: #2C3335;;
}

.left-column {
    flex: 0.7;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* background-color: blue; */
}


.first-row {
    flex: 0.3;
    box-sizing: border-box;
    /* background-color: red; */
}

.horizontal-line{
    margin-top: 20px 0px;
    border: 0;
    border-top: 1px solid #cccccc;

}

.second-row{
    flex: 0.7;
    box-sizing: border-box;
}

.right-column{
    flex: 0.3;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Remove "Container" word if anything goes wrong*/
.cart-item-container{
    background-color: #2c2c2c;
    padding: 12px;
    border-radius: 8px;
}


.cart-summary-container{
    flex: 0.3;
    border-top: 1px solid #ccc;
}